*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    background: url(../image/hero-bg.png);
    width: 1600px;
    height: 674px;
    background-repeat: none;
}
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav{
    max-width: 1600px;
    width: 100%;
    padding: 16px 120px;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 346px;
    background-color: white;
    
}
nav .menu {
    display: flex;
    gap: 32px;
    list-style: none;
}
.btn{
    padding: 12px 16px;
    color: white;
    font-weight: 700;
    background: #30b868;
    border: none;
    border-radius: 4px;
}
.btn:hover{
    background-color: transparent;
    color: #30b868;
    border: 1px solid #30b868 ;
}
.bt{
    padding: 12px 16px;
    color: white;
    font-weight: 700;
    background:transparent;
    border: 1px solid white;
    border-radius: 4px;
}
.bt:hover{
    background-color: transparent;
    color: #30b868;
    border: 1px solid #30b868 ;
}
#banner {
    max-width: 1600px;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding:115.5px 120px 179.5px 120px;
}
.banner-container{
    max-width: 770px;
    text-align: center;
}
.banner-container .msg{
    color: #30b868;
    background-color:rgba(255, 255, 255, 1) ;
    margin: 0 auto;
    width: 229px;
    height:35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 1000px;
    margin-bottom: 16px;
    font: size 16px;;
}
.banner-container .structure-content h1{
    margin: 0px auto;
    /* max-width:770px; */
    font-size: 72px;
    text-align: center;
    color: white;
    margin-bottom: 16px;
}
.banner-container .structure-content p{
    margin: 0px auto;
   /* max-width:770px; */
    color: white;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
}
.button-banner{
    margin: 0px auto;
    display: flex;
    gap: 16px;
    justify-content: center;
}
#note{
    max-width: 1600px;
    margin: 0 auto;
    
}
#note .note-container{
    width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#note .note-container .note-header{
    height:153px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    margin-top: 83px;
    
}
.note-header h1{
    font-size: 48px;
    font-weight: bold;
}
.note-header p{
    font-size: 16px;
    color: #627382;
}
#note .note-container .card-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 45px 120px 0px 120px;
   
}
.card-info .card{
    margin: 0px auto;
    max-width: 322px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    border: 8px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);

}
.card img{
    background-color: #F95555;
    width: 60px;
    height: 60px;
    padding: 14px;
    /* padding:14.04px 13.91px 13.96px 14.09px; */
    border:none;    
    border-radius: 29px;    
    margin-bottom: 16px;
    text-align: center;
}
.card h3{
    font-size: 24px;
    font-weight: 700px;
    margin-bottom: 16px;
}
.card p{
    font-size: 16px;
    color: #627382;
}
#solution{
    margin-top: 85px;
    width: 1600px;
}
#solution .solution-container{
    padding: 120px;
    display: flex;
    align-items: center;
    gap: 60px;
}
#solution .solution-container .image{
    max-width: 600px;
}
#solution .solution-container .solution-box{
    padding: 102px 0px;
    max-width: 700px;
}
.solution-box h6{
    color: #30b868;
    font-size: 16px;
    margin-bottom:16px;
    font-weight: 500;
}

.solution-box h1{
    font-size: 48px;
    font-weight: bold;
    margin-bottom:16px;
}
.solution-box p{
    color:#627382;
    font-size: 16px;
    margin-bottom:40px;
    max-width: 500px;
}
.solution-box ul{
    list-style: none;
    font-size: 16px;
    
}
.solution-box ul li{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 8px;
    line-height: 20px;
}
.solution-box ul img{
    width: 20px;
    height: 20px;
}
#early-access{
     padding: 0px 120px 120px 120px;
     text-align: center;
}
#early-access .access-container{
    width: 1360px;
    background-color:#F7F6F2;
    padding: 80px 40px;
     
}
#early-access .access-container h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
}
#early-access .access-container p{
    font-size: 16;
    color: #627382;
    margin-bottom: 24px;
}
#early-access .access-container button{
    padding: 12px 16px;
    color: white;
    font-weight: 600;
    background: #30b868;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 10px 20px 0px #00000019;
    margin-bottom:16px;
}
#early-access .access-container button:hover{
    background-color: transparent;
    color: #30b868;
    border: 1px solid #30b868 ;
}
#footer{
    background-color: #001931;
    width: 1600px;
    margin: 0px auto;
    padding: 120px 120px 30px 120px;
}
#footer .footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 84px;
}
#footer .footer-container .icons h1{
  color: white;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 400px;
}
.icons img{
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px black;
    border-radius: 6px;
    margin: 8px;
}
.copyright{
    color: white;
    text-align: center;
    font-size: 16px;
}